* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --blue-color: rgb(15, 15, 185);
    --green-color: rgb(15, 184, 15);
    --hover-color: rgb(13, 98, 13);
}

.container {
    width : 100%;
}

/****** Navbar Section ******/
.navbar {
    background-color: var(--green-color);
    padding: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    list-style-type: none;

}

.nav-items i {
    font-size: 24px;
}

.side-nav-menu{
    float : right;
}

.navbar .nav-container button {
    display: none;
}

.logo{
    display: inline-flex;
    gap : 10px;
}

.logo h2{
    color : white;
    margin-top: 10px;
}

.logo img {
    margin-top: 3px;
    height: 40px;
    width: 40px;
}
.nav-items li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 8px;
    font-size: 1.1rem;
    color: white;
}

.nav-items li a:hover {
    background-color: var(--hover-color);
    border-radius: 20px;
}

.nav-items li:last-child {
    background-color: var(--hover-color);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-items li:hover:last-child {
    background-color: var(--hover-color);
    cursor: pointer;
}

@media (max-width : 768px) {
    
    .side-nav-menu{
        float: none;
            position: absolute;
            background-color: var(--green-color);
            width: 100%;
            left: 0;
            top: 65px;
            padding: 0 0 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all .8s;
            border-radius: 20px left right;
            overflow: hidden;
    }

    .nav-items {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
      
    .navbar .nav-container .nav-toggle-button {
            border : 1px solid white;
            padding : 9px 13px;
            color : white;
            background-color: var(--green-color);
            border-radius: 10px;
            display: block;
    }

        .navbar .nav-container .nav-toggle-button:hover{
            background-color : gray;
            cursor: pointer;
        }

    .logo {
        font-size: 0.9rem;
    }

}


/***** Gallery Content *****/
.gallery-content .gallery-header {
    padding: 1.7%;

}


.gallery-content .gallery-header .slider {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.gallery-content .gallery-header .slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

.gallery-content .gallery-header .slider .slides .slide {
    list-style-type: none;
    width: 800px;
    height: 400px;
    float: left;

}

.gallery-content .gallery-header .slider .slides .slide img {
    height: 300px;
    width: 500px;
    border-radius: 20px;
}

.gallery-content .gallery-header .buttons {
    position: relative;
    margin: 0 auto;
    bottom: 100px;
}

.gallery-content .gallery-header .buttons button {
    padding: 10px;
    background-color: var(--green-color);
    color: white;
    border-radius: 50px;
    border: 1px solid;
}

.gallery-content .gallery-header .buttons button:hover {
    cursor: pointer;
    background-color: rgb(13, 98, 13);
}

.gallery-content .gallery-header .card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.gallery-content .gallery-header .card-content .card-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.gallery-content .gallery-header .card-content h1 {
    font-size: 30px;
}

.gallery-content .gallery-header .card-content .card-section .card {
    border: 1px solid var(--green-color);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color : black
}

.gallery-content .gallery-header .card-content .card-section .card:hover{
    color : gray;
    cursor: pointer;
}

@media(max-width : 768px) {
    .gallery-content .gallery-header .slider .slides {
        width: 650px;
        margin: auto;
    }

    .gallery-content .gallery-header .slider .slides .slide {
        width: 360px;
        margin: auto;
    }

    .gallery-content .gallery-header .slider .slides .slide img {
        width: 360px;
        height: 250px;
        margin: auto;
    }

    .gallery-content .gallery-header .buttons {
        margin: auto;
        right: 150px;
        bottom: 150px;
    }
}

@media (max-width : 480px){
    .gallery-content .gallery-header .slider .slides{
        width : 780px;
        margin: auto;
    }
         .gallery-content .gallery-header .buttons {
             margin: auto;
             right: 200px;
             bottom: 150px;
         }
}


/****** Cart Section ******/

.cart-content {
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.shopping-cart {
    border: 1px solid black;
    width: 190px;
    height: 280px;
    padding: 6px;
    border-radius: 20px;
}

.shopping-cart-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    margin: auto;
}

.shopping-cart-container .text-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 8px;
}

.shopping-cart-container .text-content button {
    position: relative;
    left: 90px;
    padding: 6px 20px;
    border-radius: 10px;
    border: 1px solid;
    color: white;
    background-color: var(--green-color);
}

.shopping-cart-container .text-content button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.shopping-cart-container .shopping-footer-text {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.text-content .shopping-footer-text .rating .la-star {
    color: rgb(226, 197, 8);
}


@media(max-width : 768px) {
    .cart-content {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width : 480px) {
    .cart-content {
        grid-template-columns: repeat(2, 0.4fr);
    }

    .shopping-cart {
        width: 150px;

    }

    .shopping-cart-container {
        gap: 5px;
        padding: 5px;
    }

    .shopping-cart-container .text-content button {
        left: 70px;

    }

    .shopping-cart-container .text-content{
        font-size: 0.5rem;
    }
}




/***** Footer *****/

.footer {
    padding: 2.5%;
    background-color: var(--green-color);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.footer-title img {
    margin-top: 3px;
    height: 40px;
    width: 40px;
}

.footer-title a {
    color :white;
    text-decoration: none;
}

.footer-title a:hover{
    color : gray;
    cursor :pointer;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: auto;
}


.footer-left .footer-left-list,
.footer-right .footer-right-list,
.footer-center .footer-center-list {
    list-style-type: none;
}

.footer-left .footer-left-list li,
.footer-right .footer-right-list li,
.footer-center .footer-center-list li {
    padding: 8px;
    text-align: center;
}

.footer-left .footer-left-list li a,
.footer-right .footer-right-list li a,
.footer-center .footer-center-list li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.footer-left .footer-left-list li a:hover,
.footer-right .footer-right-list li a:hover,
.footer-center .footer-center-list li a:hover {
    cursor: pointer;
    color: grey;
}

.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer-title .social-media {
    font-size: 1.5rem;
}

.footer-title .social-media i {
    padding: 5px;
}

.footer p {
    text-align: center;
}

@media(max-width : 768px) {

    .footer {
        align-items: center;
    }

    .footer-title {
        display: block;
        text-align: center;
    }

    .footer-title .social-media {
        margin-top: 5px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center;
    }
}